[Desktop Entry]
Name=NSK Browser
Comment=Lightweight WebKit browser for NSK OS
Exec=/usr/local/bin/nsk-browser %U
Icon=nsk-browser
Terminal=false
Type=Application
Categories=Network;WebBrowser;
MimeType=text/html;x-scheme-handler/http;x-scheme-handler/https;
StartupNotify=true
