UI vesamenu.c32
PROMPT 0
TIMEOUT 30
DEFAULT live
MENU TITLE NSK OS v0.3
MENU LABEL NSK OS v0.3 — Start Live Desktop
KERNEL /live/vmlinuz
APPEND initrd=/live/initrd.img boot=live components quiet splash
